.container {
    height: 100vh;
    background-color: #F8F8F8;
    width: 100vw;
    background-size: cover;
    background-position: center;
}
.menu-wraper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    height: 5vh;
    background-color: #eeeeee;

}

.nav-logged {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-logged > span {
    margin-right: 24px;
}
